In [1]:
# Загружаем библиотеки
import numpy as np # работа с векторами
import matplotlib.pyplot as plt # рисовать графики
import pandas as pd # для работы с матрицами
import os as os #для смены директории

In [2]:
# Установим директорию для зарзгрузки данных для модели
os.chdir('C:/Users/Twentyouts/Desktop/Favorita')

In [3]:
#Changed the data-types in order to minimize the file-size
types = {
    'id': 'uint32',
    'item_nbr': 'uint32',
    'store_nbr': 'uint16',
    'unit_sales': 'float32',
    'onpromotion': bool,
}

In [14]:
# загружаем данные
train = pd.read_csv('train-006.csv', parse_dates=['date'], dtype=types, infer_datetime_format=True)

In [15]:
train.loc[:, "weekday"] = train["date"].dt.weekday.astype("uint16")
train.loc[:,"month"] = train["date"].dt.month.astype("uint16")
train.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,weekday,month
0,96000000,2016-11-05,27,559680,2.0,False,5,11
1,96000001,2016-11-05,27,559682,1.0,False,5,11
2,96000002,2016-11-05,27,559870,39.0,False,5,11
3,96000003,2016-11-05,27,559872,6.0,False,5,11
4,96000004,2016-11-05,27,559873,12.0,False,5,11

In [16]:
test = pd.read_csv('test.csv', parse_dates=['date'], dtype=types, infer_datetime_format=True)
test.loc[:, "weekday"] = test["date"].dt.weekday.astype("uint16")
test.loc[:,"month"] = test["date"].dt.month.astype("uint16")
test.head()

          id       date  store_nbr  item_nbr  onpromotion  weekday  month
0  125497040 2017-08-16          1     96995        False        2      8
1  125497041 2017-08-16          1     99197        False        2      8
2  125497042 2017-08-16          1    103501        False        2      8
3  125497043 2017-08-16          1    103520        False        2      8
4  125497044 2017-08-16          1    103665        False        2      8

In [17]:
train['onpromotion'] = train['onpromotion'].fillna(False)
test['onpromotion'] = test['onpromotion'].fillna(False)

In [30]:
from sklearn import preprocessing
def encode_features(train, test):
    features=["month"]
    df_combined = pd.concat([train[features], test[features]])
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[features])
        train[feature] = le.transform(train[feature])
        test[feature] = le.transform(test[feature])
    return train,test
train, test = encode_features(train,test)
train.head()

C:\Users\Twentyouts\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,weekday,month
0,96000000,2016-11-05,27,559680,2.0,False,5,5
1,96000001,2016-11-05,27,559682,1.0,False,5,5
2,96000002,2016-11-05,27,559870,39.0,False,5,5
3,96000003,2016-11-05,27,559872,6.0,False,5,5
4,96000004,2016-11-05,27,559873,12.0,False,5,5

In [31]:
def encode_features(train, test):
    features=["onpromotion"]
    df_combined = pd.concat([train[features], test[features]])
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[features])
        train[feature] = le.transform(train[feature])
        test[feature] = le.transform(test[feature])
    return train,test
train, test = encode_features(train,test)
train.head()

C:\Users\Twentyouts\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,weekday,month
0,96000000,2016-11-05,27,559680,2.0,0,5,5
1,96000001,2016-11-05,27,559682,1.0,0,5,5
2,96000002,2016-11-05,27,559870,39.0,0,5,5
3,96000003,2016-11-05,27,559872,6.0,0,5,5
4,96000004,2016-11-05,27,559873,12.0,0,5,5

In [32]:
from sklearn.model_selection import train_test_split
X = train.drop(['id','date','unit_sales'], axis = 1)
y = train['unit_sales']

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = num_test, random_state = 23)

In [33]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(max_depth = 5, n_estimators = 5, random_state = 0)

In [34]:
regressor.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [35]:
test_ = test.drop(['id','date'], axis=1)

In [36]:
X.head()

   store_nbr  item_nbr  onpromotion  weekday  month
0         27    559680            0        5      5
1         27    559682            0        5      5
2         27    559870            0        5      5
3         27    559872            0        5      5
4         27    559873            0        5      5

In [37]:
test_.head()

   store_nbr  item_nbr  onpromotion  weekday  month
0          1     96995            0        2      4
1          1     99197            0        2      4
2          1    103501            0        2      4
3          1    103520            0        2      4
4          1    103665            0        2      4

In [38]:
y_pred = regressor.predict(test_)

In [39]:
test['unit_sales'] = y_pred
test.head()

,id,date,store_nbr,item_nbr,onpromotion,weekday,month,unit_sales
0,125497040,2017-08-16,1,96995,0,2,4,5.270471
1,125497041,2017-08-16,1,99197,0,2,4,5.270471
2,125497042,2017-08-16,1,103501,0,2,4,5.270471
3,125497043,2017-08-16,1,103520,0,2,4,5.270471
4,125497044,2017-08-16,1,103665,0,2,4,5.270471

In [40]:
test = test[['id','unit_sales']]

In [41]:
test.to_csv("final.csv", sep=',',index = False)