In [7]:
# Загружаем библиотеки
import numpy as np # работа с векторами
import matplotlib.pyplot as plt # рисовать графики
import pandas as pd # для работы с матрицами
import os as os #для смены директории

In [8]:
# Установим директорию для зарзгрузки данных для модели
os.chdir('C:/Users/Twentyouts/Desktop/Favorita')

In [9]:
#Changed the data-types in order to minimize the file-size
types = {
    'id': 'uint32',
    'item_nbr': 'uint32',
    'store_nbr': 'uint16',
    'unit_sales': 'float32',
    'onpromotion': bool,
}

In [10]:
# загружаем данные
train = pd.read_csv('train-006.csv', parse_dates=['date'], dtype=types, infer_datetime_format=True)

In [11]:
train.loc[:, "weekday"] = train["date"].dt.weekday.astype("uint16")
dataset.head()

         id       date  store_nbr  item_nbr  unit_sales  onpromotion  weekday
0  96000000 2016-11-05         27    559680         2.0        False        5
1  96000001 2016-11-05         27    559682         1.0        False        5
2  96000002 2016-11-05         27    559870        39.0        False        5
3  96000003 2016-11-05         27    559872         6.0        False        5
4  96000004 2016-11-05         27    559873        12.0        False        5

In [44]:
test = pd.read_csv('test.csv', parse_dates=['date'], dtype=types, infer_datetime_format=True)
test.loc[:, "weekday"] = test["date"].dt.weekday.astype("uint16")
test.head()

          id       date  store_nbr  item_nbr  onpromotion  weekday
0  125497040 2017-08-16          1     96995        False        2
1  125497041 2017-08-16          1     99197        False        2
2  125497042 2017-08-16          1    103501        False        2
3  125497043 2017-08-16          1    103520        False        2
4  125497044 2017-08-16          1    103665        False        2

In [45]:
from sklearn.model_selection import train_test_split
X = train.drop(['id','date','onpromotion','unit_sales'], axis = 1)
y = train['unit_sales']

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = num_test, random_state = 23)

In [46]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(max_depth = 4, n_estimators = 5, random_state = 0)

In [47]:
regressor.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=4,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [48]:
test_ = test.drop(['id','date','onpromotion'], axis=1)

In [49]:
X.head()

   store_nbr  item_nbr  weekday
0         27    559680        5
1         27    559682        5
2         27    559870        5
3         27    559872        5
4         27    559873        5

In [50]:
test_.head()

   store_nbr  item_nbr  weekday
0          1     96995        2
1          1     99197        2
2          1    103501        2
3          1    103520        2
4          1    103665        2

In [51]:
y_pred = regressor.predict(test_)

In [52]:
test['unit_sales'] = y_pred
test.head()

          id       date  store_nbr  item_nbr  onpromotion  weekday  unit_sales
0  125497040 2017-08-16          1     96995        False        2    5.728423
1  125497041 2017-08-16          1     99197        False        2    5.728423
2  125497042 2017-08-16          1    103501        False        2    5.728423
3  125497043 2017-08-16          1    103520        False        2    5.728423
4  125497044 2017-08-16          1    103665        False        2    5.728423

In [53]:
test = test[['id','unit_sales']]

In [54]:
test.to_csv("final.csv", sep=',',index = False)